/*MENU (boa pratica)

1 - Nav Bar
2 - Section 2
3 - Section 3
4 - Section 4
5 - Footer
*/



/*1 - Nav bar*/

nav{
    background-color: rgb(36, 31, 31);
    height: 90px;
}

@media(max-width: 2000px){
     /*tudo aqui vai servir pra resoluções abaixo de 2000width*/
    nav img{
        margin: 15px 10px;
        float: left;
        height: 50px;
        width: 150px;
    }

    nav ul li{
        display: inline-block; /*coloca a lista na vertical*/
        margin: 15px 5px;
        font-size: 0.9em;
        color: white;  
        position: relative;
        left: 300px;
        top:10px;
    }
}

@media(max-width: 900px){
    /*tudo aqui vai servir pra resoluções abaixo de 720width*/
   nav img{
       position: absolute;
       left:300px;
       height: 40px;
       width: 140px;
   }
   nav ul li{
    display: inline-block; /*coloca a lista na vertical*/
    margin: 15px 5px;
    font-size: 1.200em;
    color: white;  
    }
}


nav a{
    color: white;
    text-decoration: none;
    padding: 8px 20px; /*vertical e horizontal*/
    transition: 0.3s;
}

nav a:hover { 
    text-decoration: underline;
    text-decoration-color:white;
    transition:2s;

}

/*borda branca e depois box shadow

/*home*/

.home {
    background-image: url("bg-intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    text-align: center;
    font-family: Georgia;
    
}

.home .box{
    font-weight: bold;
    position: absolute;
    top: 50%; /*pra ficar no centro da tela*/
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 100px 0px 0px 0px;
}

.home h1{
    font-size: 4em;
}

.home .arrow{
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-bottom: solid 8px white;
    border-radius: 0%;

}

.home p{
    font-style: italic;
    margin: 50px;
}

